#contact_showcase{
    background: url('../images/contact.jpeg') no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    z-index: -10;
}

#contact_showcase::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
}

#contact_showcase .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

#contact_showcase .content h1{
    font-size: 7rem;
    font-family: var(--righteous);
    color: var(--white_color);
    text-align: center;
    letter-spacing: 2px;
}

#contact_showcase .content h3{
    font-size: 3rem;
    font-family: var(--righteous);
    color: var(--white_color);
    text-align: center;
    letter-spacing: 2px;
}

.contact_section div{
    margin-top: 30px;
}

.contact_section form {
    background-color: white;
    
}

/* ----------Contact info start --------- */
#contact_info {
    background-color: white;
    color: black;
    padding: 10rem 0;
}

#contact_info .container{
    font-family: var(--righteous);
    font-size: 2rem;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact_info .map{
    flex: 1;
    margin-right: 20px;
}

#contact_info .content{
    flex: 1;
}

#contact_info .content div{
    flex: 1;
    margin-top: 50px;
}
/* ----------Contact info close --------- */

/* ----------Contact Form start --------- */
#form_background{
    background: url('../images/arcade.jpeg') no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    z-index: -10;
}

#form_background::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
}

.form_container {
    background-color:rgb(17, 103, 103);
    margin: 10rem;
    width: 50%;
    height: auto;
}

/* ----------Contact Form close --------- */


